body {
  font-family: "poppins";
  background-color: var(--color-White);
}

:root {
  --color-Golden-Yellow: hsl(52, 77%, 58%);
  --color-White: hsl(0, 0%, 100%);
  --color-Black: hsl(0, 0%, 0%);
  --color-Light-Steel-Blue: hsl(223, 27%, 80%);
  --color-Alabaster: hsl(120, 12%, 96%);
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* HEADER */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2.5rem;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3rem;
  font-weight: 400;
  font-style: normal;
}
ul img {
  margin-right: 30rem;
}

ul li:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 6rem;
  background-color: var(--color-Black);
  color: var(--color-White);
}
/* MAIN */
main {
  padding: 3rem;
}
.main_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 3rem;
  border-radius: 3rem;
  background-color: var(--color-Alabaster);
}
.main_text p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
}
.main_text span {
  font-weight: 900;
  font-style: normal;
  font-size: 5rem;
}
.main_text span:nth-of-type(3) {
  background-color: var(--color-Golden-Yellow);
}
.main_text span:nth-of-type(1) {
  background-color: var(--color-White);
}
.main_text botton {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-White);
  background-color: var(--color-Black);
  border-radius: 0.5rem;
  height: 4rem;
  width: 11.5rem;
  font-size: 1.5rem;
}
.main_img {
  margin-bottom: -3rem;
}
