body {
  font-family: "poppins";
  background-color: var(--color-White);
}

:root {
  --color-Golden: hsl(48, 76%, 59%);
  --color-Golden-Yellow: hsl(50, 77%, 68%);
  --color-Alabaster: hsl(120, 12%, 96%);
  --color-Light-Steel-Blue: hsl(223, 27%, 80%);
  --color-Black: hsl(0, 0%, 0%);
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("/assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
/* HEADER */
header {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 2.5rem;
}
ul {
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-end;
  gap: 3rem;
  font-weight: 400;
  font-style: normal;
}
ul img {
  margin-right: 30rem;
}

ul li:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  height: 2.5rem;
  width: 6rem;
  background-color: var(--color-Black);
  color: var(--color-Alabaster);
}
/* MAIN */
main {
  padding: 3rem;
}
.main_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 3rem;
  border-radius: 3rem;
  margin-bottom: 3rem;
  background-color: var(--color-Alabaster);
}
.main_text p {
  font-weight: 500;
  font-style: normal;
  font-size: 1.3rem;
}
.main_text span {
  font-weight: 900;
  font-style: normal;
  font-size: 5rem;
}
.main_text span:nth-of-type(3) {
  background-color: var(--color-Golden-Yellow);
}
.main_text span:nth-of-type(1) {
  background-color: var(--color-White);
}
.main_Btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-White);
  background-color: var(--color-Black);
  border-radius: 0.5rem;
  height: 4rem;
  width: 11.5rem;
  font-size: 1.5rem;
}
.main_img {
  margin-bottom: -3rem;
}
.main_imgs {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;
  height: 7rem;
  background-color: var(--color-Golden-Yellow);
}

.main_imgs img {
  padding: 0.5rem;
  height: 3rem;
  background-color: var(--color-Golden-Yellow);
  border-radius: 0.5rem;
  object-fit: contain;
}
.main_box {
  margin-top: 5rem;
}
.main_img_boxs {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 4rem;
}
.main_box {
  width: 20rem;
  margin-left: 2.5rem;
}
.img_box {
  width: 25rem;
  margin-bottom: 2rem;
}
nav img {
  width: 100%;
  margin-top: 4em;
}
nav img:nth-child(2) {
  width: 20rem;
  margin-left: 2.5rem;
}
.nav_cart {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}

.nav_cart img:nth-child(1) {
  width: 40rem;
}
.nav_cart img:nth-child(2) {
  width: 40rem;
}
.img_buttem {
  width: 65%;
  margin-top: 4em;
}
.nav_APP {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}
.nav_text_right h1 {
  max-width: 20rem;
}
.nav_text_right p {
  max-width: 20rem;
}
.up_footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 25rem;
  background-color: var(--color-Golden);
  color: var(--color-Alabaster);
}
.up_footer h1 {
  margin-bottom: -19px;
  text-align: center;
  max-width: 34rem;
}
.up_footer p {
  font-size: 1.2rem;
}

.input_button {
  position: relative;
  width: 300px;
}

.input_button input {
  height: 3rem;
  width: 20rem;
  padding: 10px 120px 10px 10px;
  font-size: 16px;
  border: 1px solid var(--color-White);
  border-radius: 8px;
  box-sizing: border-box;
}

.input_button button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 2.5rem;
  padding: 0 20px;
  font-size: 16px;
  color: var(--color-Alabaster);
  background-color: var(--color-Black);
  border: 2px solid white;
  border-radius: 8px;
  cursor: pointer;
  margin-right: -1.2rem;
}

.footer_center {
  padding: 8rem;
  background-color: var(--color-Black);
}
.footer_info {
  width: 100%;
  height: 20rem;
}
.footer_info h1 {
  color: var(--color-Alabaster);
}
.footer_info p {
  max-width: 21rem;
  color: var(--color-Light-Steel-Blue);
}
.footer_info img {
  margin-top: 1rem;
}
.footer_text {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 8rem;
  margin-top: -20rem;
  color: var(--color-Light-Steel-Blue);
}
.text_1 p:nth-child(1) {
  color: var(--color-Alabaster);
}
.text_2 p:nth-child(1) {
  color: var(--color-Alabaster);
}
.text_3 p:nth-child(1) {
  color: var(--color-Alabaster);
}
